header {
    background-image: url("assets/images/home_background_league.png");
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
header h1 {
    margin-top: 5vw;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
}

header p {
    margin-top: 5vw;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.a_la_une h2 {
    text-transform: uppercase;
    color: #d4b52f;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}

.players {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: flex-end;
}

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player img {
    width: 10vw;
    height: auto;
    margin-left: 5vw;

}

.player.logo-block .team-logo {
    width: 15vw;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: -6vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-weight: bold;
    z-index: 10;
    border-radius: 4px;
    padding: 2px 4px;
}

.player .overlay-text h3 {
    color: #d4b52f;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-bottom: 1vw;
}
.player .overlay-text p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}
.pres {
    border: 1px solid #1c2541;
    border-radius: 1px;
    padding: 2vw;
}
.player h3 {
    margin-bottom: -1vw;
    color: #d97ab5;

}

.players_a_la_une h2 {
    margin-top: 5vw;
    text-transform: uppercase;
    color: #d97ab5;
    text-decoration:underline;
    text-align: center;
    text-underline-offset: 10px;

}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 2vw;

}

.cards div[class] {
    border: 1px solid #1c2541;
    border-radius: 1px;
    padding: 2vw;
}

.cards div[class] img {
    width: 20vw;
    height: 20vw;
}
.cards div[class] h3 {
    color: #d97ab5;
    text-transform: uppercase; /*found on stack overflow*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.cards div[class] p {
    color: #d4b52f;
    font-size: 15px;
}

.match_a_la_une h2{
    margin-top: 5vw;
    text-transform: uppercase;
    color: #45a0ec;
    text-decoration:underline;
    text-align: center;
    text-underline-offset: 10px;
}

.teams {
    margin-top: 2vw;
    border: 1px solid #1c2541;
    border-radius: 1px;
    width: 50%;
    height: 65%;
    margin-left: 25%;
}
.teams h2 {
    margin-bottom: 5vw;
    color: white;
    text-decoration: none;
}
.teams p {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5vw;
    color: #83a1bb;
    font-size: 10px;
}

.team_logo {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.teams div[class] img {
    width: 20vw;
    height: auto;
    border: 1px solid #1c2541;
    border-radius: 1px;
    padding: 1vw;
}
