h1 {

    text-transform: uppercase;
    color: #45a0ec;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    text-align: center;
}

p {
    justify-content: center;
    color: #45a0ec;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}
img {
    margin-top: 3vw;
    width: 25vw;
    height: auto;
}

.perf {
    color: #9e87cb;
}

.tableau-des-joueurs {
    width: 70%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    color: white;
}

/* Table header */
.tableau-des-joueurs th {

    border-top: 1px solid #1c2541;
    border-bottom: 1px solid #1c2541;
    border-radius: 1px;
    padding: 1vw;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: left;
    background-color: transparent;
}

/* asked ai to close the table up so it added left border to the first header cell */
.tableau-des-joueurs th:first-child {
    border-left: 1px solid #1c2541;
}


.tableau-des-joueurs th:last-child {
    border-right: 1px solid #1c2541;
}


.tableau-des-joueurs tr {
    border-bottom: 1px solid #1c2541;
    border-radius: 1px;
    background-color: transparent;
}


.tableau-des-joueurs td {
    border-top: 1px solid #1c2541;
    border-bottom: 1px solid #1c2541;
    border-radius: 1px;
    padding: 1vw;
    background-color: transparent;
}

.tableau-des-joueurs td:first-child {
    border-left: 1px solid #1c2541;
}


.tableau-des-joueurs td:last-child {
    border-right: 1px solid #1c2541;
}

.tableau-des-joueurs td.players {
    color: #d97ab5;
}

.tableau-des-joueurs td.team {
    color: #d4b52f;
}