.match {
    text-align: center;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #1c2541;
    color: white;
}

h1 {
    margin-top: 4vw;
    color: #45a0ec;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    margin-top: -3vw;
    color: #45a0ec;
    text-align: center;
}

p {
    margin-top: 5vw;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #83a1bb;
}

.match div img {
    border: 1px solid #1c2541;
    color: white;
    margin-top: 3vw;
    margin-left: 1vw;
    gap: 1.5%;
    width: 20vw;
    height: auto;
}

button {
    text-transform: uppercase;
    margin-top: 3vw;
    background-color: inherit;
    color: #45a0ec;
    border: 1px solid currentColor;
    padding: 4px 8px;
    font-size: 16px;
    width: 60%;
    border-radius: 4px;
}