main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
h1{
    font-size: 2.5vw;
    color: #d97ab5;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 55%;
    gap: 3% 6%;
    margin-bottom: 20%;
}
section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin: 0;
}
img{
    width: 100%;
}
button{
    background-color: #0b132b;
    border: 1px solid rgba(217, 122, 181, 0.5);
    border-radius: 0.5vw;
    color: #d97ab5;
    font-size: 0.8vw;
    padding: 3% 6%;
    cursor: pointer;
}

.player-name{
    margin-top: 2%;
    font-size: 2vw;
    color: #d97ab5;
}
.team-name{
    margin: 3% 0 6% 0;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    color: #d4b52f;
}