main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
h2{
    font-size: 2.5vw;
}
img{
    width: 100%;
}
.green{
    color: #509d77;
}
.red{
    color: #d66f75;
}

/* ------------------------------ top ------------------------------ */
#top{
    width: 20%;
}
#top > h2{
    color: #d97ab5;
}

/* ------------------------------ table ------------------------------ */
#table{
    width: 75%;
    height: 30vw;
    margin-top: 4%;
}
#table > h2{
    color: #45a0ec;
}
#table > div{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
#table > div > *{
    display: flex;
    justify-content: space-around;
}
#table-top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.team-name{
    color: #d4b52f;
}
#table-top > p{
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
}
.table-body > p{
    font-family: "Roboto", sans-serif;
    font-size: 0.8vw;
}

/* ------------------------------ team ------------------------------ */
#team{
    margin-bottom: 8%;
}
#team > h2{
    color: #d4b52f;
}
#team > div{
    display: flex;
    width: 40%;
    gap: 8%;
}
#team > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#team > div > div > p{
    font-size: 2.5vw;
    color: #d97ab5;
    margin: 8% 0 4% 0;
}
button{
    background-color: #0b132b;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5vw;
    color: white;
    font-size: 0.8vw;
    padding: 3% 6%;
    cursor: pointer;
}