/* ------------------------------ global ------------------------------ */
html {
    font-family: ubuntu;
    background-color: #0b132b;
}
a{
    text-decoration: none;
    color: white;
    width: fit-content;
}

/* ------------------------------ nav ------------------------------ */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > a{
    font-size: 2vw;
}
nav > div{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
nav > div > a {
    font-size: 1vw;
    font-weight: 300;
}

/* ------------------------------ matchs ------------------------------ */
.match {
    text-align: center;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #1c2541;
    color: white;
}