/* ------------------------------ global ------------------------------ */
html {
    font-family: "Ubuntu", sans-serif;
    background-color: #0b132b;
}
a{
    text-decoration: none;
    color: white;
    width: fit-content;
}
.green{
    color: #509d77;
}
.red{
    color: #d66f75;
}

/* ------------------------------ nav ------------------------------ */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > a{
    font-size: 2vw;
}
nav > div{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
nav > div > a {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 400;
}