nav {
    text-align: center;
    color: white;
}
#titre {
    font-weight: 100;   
}
.item_bloc_nav {
    margin-right: 10%;
    margin-left: 10%;
    text-decoration:none;
    font-weight: 500;
    color: white;
}
nav > div {
    margin-left: 20%;
    margin-right: 20%;
}
body {
    background-color: #0b132b;
}
.match {
    text-align: center;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #1c2541;
    color: white;
}
html {
    font-family: ubuntu;
}