nav {
    text-align: center;
    font-size: ;
    color: white;
}
.item_bloc_nav {
    margin-right: 10%;
    margin-left: 10%;
    text-decoration:none;
    color: white;
}
nav > div {
    margin-left: 20%;
    margin-right: 20%;
}
body {
    background-color: #0b132b;
}